<?xml version="1.0" encoding="GBK"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
     
   
  <!-- 连接数据库，sessionfactory初始化 --> 
    <!--定义了Hibernate的SessionFactory -->
    <bean id="sessionFactory" class="org.springframework.orm.hibernate3.LocalSessionFactoryBean">
        <property name="configLocation">
           <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>
	
	<!-- 开启事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="transactionInterceptor" class="org.springframework.transaction.interceptor.TransactionInterceptor">
	    <!--  事务拦截器bean需要依赖注入一个事务管理器 -->
        <property name="transactionManager" ref="transactionManager"/>
    	<property name="transactionAttributes">
		    <!--  下面定义事务传播属性-->
		    <props>
			    <prop key="get*">PROPAGATION_REQUIRED,readOnly</prop>
		    	<prop key="*">PROPAGATION_REQUIRED,-Exception</prop>
		    	<prop key="*">ISOLATION_SERIALIZABLE</prop>
		    </props>
	    </property>
	</bean>  
    <!-- 定义BeanNameAutoProxyCreator-->
    <bean class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
	    <!--  指定对满足哪些bean name的bean自动生成业务代理 -->
	    <property name="beanNames">
            <!--  下面是所有需要自动创建事务代理的bean-->
            <list>
                <value>tradeservice</value>
                <value>userservice</value>
                <value>rateservice</value>
                <value>adminservice</value>
                <value>webconfigservice</value>
                <value>shopservice</value>
                <value>functionservice</value>
                <value>roleservice</value>
                <value>functionroleservice</value>
                <value>shopuserservice</value>
                <value>goodstypeservice</value>
                <value>goodsservice</value>
                <value>tbgoodsservice</value>
            </list>
            <!--  此处可增加其他需要自动创建事务代理的bean-->
	    </property>
        <!--  下面定义BeanNameAutoProxyCreator所需的事务拦截器-->
        <property name="interceptorNames">
            <list>
                <!-- 此处可增加其他新的Interceptor -->
                <value>transactionInterceptor</value> 
            </list>
        </property>
    </bean>
    
    <!-- 订单 -->
	<bean id="tradeservice" class="ServiceImpl.TradeServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 用户-->
	<bean id="userservice" class="ServiceImpl.UserServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 评价表-->
	<bean id="rateservice" class="ServiceImpl.RateServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 用户管理员表-->
	<bean id="adminservice" class="ServiceImpl.adminServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 网站配置-->
	<bean id="webconfigservice" class="ServiceImpl.WebconfigServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 网店模块-->
	<bean id="shopservice" class="ServiceImpl.shopServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 功能模块-->
	<bean id="functionservice" class="ServiceImpl.FunctionServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 角色模块-->
	<bean id="roleservice" class="ServiceImpl.RoleServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 角色功能对应模块-->
	<bean id="functionroleservice" class="ServiceImpl.FunctionRoleServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 店铺用户对应模块-->
	<bean id="shopuserservice" class="ServiceImpl.ShopUserServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 商品类别模块-->
	<bean id="goodstypeservice" class="ServiceImpl.GoodsTypeServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 商品模块-->
	<bean id="goodsservice" class="ServiceImpl.GoodsServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 店铺商品模块-->
	<bean id="tbgoodsservice" class="ServiceImpl.TbGoodsServiceImpl">
		<property name="basedao" ref="basedao"></property>
	</bean>
	
	<!-- 注册监听器 -->
	<bean id="applicationlistenerimpl" class="Listener.ApplicationListenerImpl">
		<property name="tradeservice" ref="tradeservice"></property>
		<property name="shopservice" ref="shopservice"></property>
		<property name="rateservice" ref="rateservice"></property>
		<property name="webconfigservice" ref="webconfigservice"></property>
		<property name="tbgoodsservice" ref="tbgoodsservice"></property>
	</bean>
	
	</beans>